@import "../../common/colors.scss";

.recent-chats {
  padding: 20px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}
.profile {
  margin: 5px;
  color: $font-secondary;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.profile-name {
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60px;
}
