@import "../../common/colors.scss";

.side-panel {
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 5px 10px;
  width: 90px;
}

.user-image,
img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 10px 10px 10px 10px;
}

