@import "../../common/colors.scss";

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 72px;
  height: 60px;
  margin-top: 10px;

  .message-icon,
  .video-icon,
  .folder-icon {
    font-size: 2em;
    color: $font-primary;
  }
  .menu-title {
    font-size: 6px;
    color: $font-primary;
    font-weight: 600;
  }

  &:hover {
    border-radius: 5px;
    background-color: $secondary-color;
    cursor: pointer;

    .message-icon,
    .video-icon,
    .folder-icon {
      font-size: 2em;
      color: $hover-icon;
    }

    .menu-title {
      font-size: 6px;
      color: $font-secondary;
    }
  }
}
