@import "../../../common/colors.scss";

.chats-page {
  background: $background-color;
  display: flex;
  width: 1400px;
  height: 100%;
  border-radius: 20px;
}

.chat-section-container {
  display: flex;
  flex-direction: column;
  width: 40px;
}

.chat-list {
  width: 30%;
}
.list-items {
  max-height: 800px;
  overflow: auto;
  scrollbar-width: 0px;
  scrollbar-width: none;
}
