.messages-container {
  display: flex;
  height: 70vh;
  flex-direction: column;
  overflow-y: auto; /* Enable scrollbars */
  padding: 10px; /* Add padding to the container */
}

.chat-message {
  margin-bottom: 10px;
  display: flex;
}

.chat-message.left {
  justify-content: flex-start;
  margin-right: auto; /* Add margin to the right */
}

.chat-message.right {
  justify-content: flex-end;
  margin-left: auto; /* Add margin to the left */
}
