@import "../../common/colors.scss";

.search-bar {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background: $search-background;
  .search-icon {
    color: $font-secondary;
  }
  input {
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
    background: $search-background;
  }
  button {
    padding: 0px 8px;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    align-content: center;
    border: none;
    width: 50px;
    border-radius: 10px;
    background: $fab-color;
    color: $font-primary;
  }
}
