@import "../../common/colors.scss";

.chat-item {
  display: flex;
  padding: 10px;
  background-color: $white-background;
  border-radius: 5px;
  margin: 10px;
  &:hover {
    background-color: $secondary-color;
    color: $font-primary;
    cursor: pointer;
  }
}

.chat-avatar {
  width: 52px;
  height: 52px;
}

.chat-info {
  color: $font-secondary;
  padding-left: 10px;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
}

.user-last-message {
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}
