@import "../../common/colors.scss";

.input-prompt {
  width: 100%;
  justify-content: center;
  display: flex;
}

form {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  background: $background-color;
  width: 90%;
  border-radius: 10px;
  padding: 2px;
  button {
    padding: 0px 8px;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    align-content: center;
    border: none;
    width: 50px;
    border-radius: 10px;
    background: $fab-color;
    color: $font-primary;
  }

  input {
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 5px;
    height: 38px;
    outline: none;
    border: none;
    background: $background-color;
    border-radius: 10px;
  }
}
