$primary-color: #c892cf;
$secondary-color: #e8c5e5;
$background-color: #e8edef;
$white-background: #fff;

$font-primary: #f7f9f2;
$font-secondary: #000000;

$hover-icon: #ff7d29;
$search-background: #d8d8d8;

$fab-color: #2b90d3;

$recipient-message-color: #22959b;
