@import "../../common/colors.scss";

.message {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 5px;
  border-radius: 15px;
}

.message-content {
  background-color: $recipient-message-color;
  padding: 10px;
  border-radius: 15px 15px 15px 0;
}

.message-time {
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
}

.chat-message.right .message-content {
  background-color: $recipient-message-color;
  border-radius: 15px 15px 0 15px;
}
